@font-face {
    font-family: 'Stratos';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/stratosskyengweb-regular.woff2);
    src: url(./fonts/stratosskyengweb-regular.woff);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Stratos';
}

.container {
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer {
    background-color: #C2F5FF;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    width: 208px;
    text-align: center;
    color: #004980;
}

.levelsBox{
    display: flex;
    column-gap: 20px;
}

.level{
    width: 98px;
    height: 98px;
    background-color: #fff;
    border-radius: 12px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
}

.button{
    width: 264px;
    height: 60px;
    background-color: #7AC100;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

}